#mainNav {
	height:120px;
	text-transform: capitalize;
	font-family: 'Shadows Into Light';
	font-size: 28px;	
}

#logo {
	width:250px;
	position:absolute;
	left:50%;
	margin-left: -125px;
	right:auto;
	top:-30px;
	z-index: 99;
}

.left {
	padding-right:135px;
}

.right{
	padding-left: 125px;
}