.masthead {
	min-height: 600px;
	background-image: url('../../../public/images/icing-bags-1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  .masthead {
	  padding-top: 120px;
  }
