/* 
	aqua:  #A9FBD7
	blue:  #08A4BD
	tan:   #E9D1AF
	brown: #685A4F
	pink:  #FF73A5	
 */

 #root {
	 background-color: #fff;
 }

 body {
	font-family: 'Poppins' !important;
	background-color: #dd85a4 !important;
 }


 a, a:visited {
	color:#08A4BD;
	text-decoration: none !important;
 }

 a:hover, a:active {
	 color:#FF73A5 !important;
 }

 .nav-link {
	 transition: none !important;
	 color: #08A4BD !important;
 }

 main {
	 min-height: 500px;
	 background-color: #fff !important;
 }

 .wave-top {
	position: absolute;
	top:0;
	background-image: url('../public/images/wavy-top.png');
	background-size: 46px;
	height:15px;
	width: 100%;
}

.wave-bottom {
	position: absolute;
	bottom:0;
	background-image: url('../public/images/wavy-top.png');
	background-size: 46px;
	height:15px;
	transform: scaleY(-1);
	width: 100%;
}

.btn-wayward {
	color:#fff !important;
	background-color: #08A4BD !important;
	font-family: 'Shadows Into Light';
	font-size: 18pt !important;
}